.box-form {
  width: 900px;
  height: 500px;
  background-color: #EDEEF7;
  padding-top: 25px;
  //box-shadow: 12px 12px 2px 1px $purple;
  position: relative;
  z-index: 2;
  bottom: 400px;
  left: 200px;
  padding-left: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.name {
  width: 220px;
  height: 70px;
}

.email {
  width: 266px;
  height: 70px;
}

.societe {
  width: 446px;
  height: 70px
}r

.subject {
  width: 446px;
  height: 70px
}

.subject-form {
  width: 500px;
  height: 75px;
  margin-bottom: 20px;
}

.background-contact {
  background-color: $pp-opacity;
// opacity: 0.45;
  margin: 0 auto;
  margin-top: 50px;
  width: 1200px;
  height: 590px;
  padding: 50px;
}

.contact-presentation {
  width: 400px;
  height: 400px;
  top: 50px;
  left: 60px;
  padding: 50px;
  background-color: white;
  position: relative;
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
