.box-form {
  width: 900px;
  height: 450px;
  background-color: $light-purple;
  margin: auto;
  padding: 50px;
  box-shadow: 12px 12px 2px 1px $purple;
}

.name {
  width: 220px;
  height: 70px;
}

.email {
  width: 266px;
  height: 70px;
}

.societe {
  width: 446px;
  height: 70px
}r

.subject {
  width: 446px;
  height: 70px
}

.subject-form {
  width: 800px;
  height: 40px;
  margin-bottom: 20px;
}
