// Specific CSS for your home-page
$body-color : $light-orange;
.container {
  background-color: $strong-orange;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  height: 650px;
  padding: 0;
  color: grey;
}
