// Specific CSS for your home-page
.container {
  background: linear-gradient(#B1B2FF, #AAC4FF);
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  height: 1000px;
  padding: 0;
}

.background-animation {

}
