.port-container {
  height: 100vh;
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll
}

.slider-site {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: center;
}

.slider-site:nth-child(1){background: #000000;}
.slider-site:nth-child(2){background: #85586F;}

////////////////////////////////////COSMOS//////////////////////////////////////////////////////

.container-cosmos {
  width: 100%;
  height: 100%;
  margin: 30px;
  padding: 30px;
}

#logo {
  color: white;
  opacity: 1;
  font-size: 38px;
  letter-spacing: 7px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-style: bold;
  margin-top: 15px;
  padding-left: 40px;
  background-image: url('https://res.cloudinary.com/dsc1uchot/image/upload/v1653558710/logo/logo_b9uzzl.png');
  background-size: 27px;
  background-repeat: no-repeat;
}

.description-cosmos {
  width: 30%;
  text-align: justify;
  margin-top: 1%;
  flex: 1;
}

.carousel {
  flex: 2;
}

.back-accueil {
  a {
    text-decoration: underline;
    color: white;
  }
  a:hover {
    color:#F2DF3A;
  }
}

.btn-warning {
  width: 155px;
  height: 40px;
  color: white;
  margin-left: 80%;
}

////////////////////////////////////FLIPEASY//////////////////////////////////////////////////////
.container-flipeasy {
  background-color: #f3f6fc;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.flp-back-accueil {
  a {
    text-decoration: underline;
    color: black;
  }
  a:hover {
    color:grey;
  }
}

#flp-logo {
  color: black;
  opacity: 1;
  font-size: 38px;
  letter-spacing: 7px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  font-style: bold;
  margin-top: 15px;
  padding-left: 40px;
  background-image: url('https://res.cloudinary.com/dsc1uchot/image/upload/v1654263937/logo-violet_cavevn.png');
  background-size: 27px;
  background-repeat: no-repeat;
} > img {
  margin-left: 40px;
  margin-right: 10px;
  margin-bottom: 7px;
}

.description-flp {
  width: 30%;
  text-align: justify;
  margin-top: 1%;
  flex: 1;
}

.carousel-flp {
  flex: 2;
}

.btn-black {
  color: white;
  display: inline-block;
  border-radius: 10px;
  background: #1E1C2D;
  transition: 0.3s ease;
  font-size:16px;
  letter-spacing: 1.7px;
  text-align: center;
  text-decoration: none;
  border-bottom: 4px solid #8CCDE5;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  margin-top: 100px;
  margin-left: 1200px;
    &:hover {
      color: #8CCDE5;
    }
}
