<h6>a propos</h6>
<li>
  <%= link_to 'Accueil', '../' %>
</li>
<li>
  <a href="#"> A propos</a>
</li>
<li>
  <%= link_to "Contact moi", "/contacts" %>
</li>
<li>
  <%= link_to 'Portfolio', '/portfolio' %>
</li>
