<h6>contact me</h6>
<li>
  <%= link_to 'Accueil', '../' %>
</li>
<li>
  <%= link_to "A propos","/apropos" %>
</li>
<li>
  <a href="#"> Contact moi</a>
</li>
<li>
  <%= link_to 'Portfolio', '/portfolio' %>
</li>
