<h6>c'est ici</h6>
<%= link_to 'Accueil', '../' %>

<!-- Cosmos Project -->
<%= link_to 'https://cosmos-camillervr.herokuapp.com/', target: :_blank  do %>
  <img src="" alt="">
<% end %>
<!-- Git hub and Linkdln-->
<li>
  <%= link_to 'https://github.com/Lydiasou', target: :_blank do %>
    <i class="fa-brands fa-square-git"></i>
  <% end %>
</li>
<li>
  <%= link_to 'https://www.linkedin.com/in/lydiasoula/', target: :_blank  do %>
    <i class="fa-brands fa-linkedin"></i>
  <% end %>
</li>
